*{
  margin: 0;
  padding: 0;
}
html{
  scroll-behavior: smooth;
}
body{
  position: relative;
  color: $black;
  overflow-x: hidden;
  font: {
    family: $primary_font;
    weight: 300;
    size: $browser-context;
  };
}
img{
  display: block;
  width: 100%;
}
a{
  text-decoration: none;
}
li{
  list-style: none;
}
.btn{
  @extend %btn;
}
.wrapper, .container, .small-container{
  width: 100%;
  margin: 0 auto;
}
.wrapper{
  max-width: 1920px;
}
.container{
  max-width: 1500px;
}
.small-container{
  max-width: 1170px;
}
.mobile-container{
  width: 90%;
  margin: 0 auto;
  @media all and (min-width: 700px){
    width: 100%;
  }
}
.main{
  margin: 60px auto 0;
}
.global-title,
.global-subtitle{
  font: {
    family: $secondary_font;
    size: 8vw;
  };
  line-height: 8vw;
  margin: em(10px) 0;
  display: inline-block;
  @media all and (min-width: 700px){
    font-size: 4vw;
  }
  &__white{
    color: $white;
  }
}