.menu{
  position: relative;
  margin-left: 15px;
  @media all and (min-width: 700px){
    display: none;
  }
  &:before{
    position: relative;
    top: -1px;
    font-size: em(14px);
    font-weight: 600;
    color: $primary_color;
    margin-left: 30px;
    text-transform: uppercase;
  }
  &__bars{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    display: block;
    width: 25px;
    height: 3px;
    background: $primary_color;
    border-radius: 2px;
    @extend %animate;
    &:before, &:after{
      @include pseudo($left:0);
      width: 25px;
      height: 3px;
      background: $primary_color;
      transform-origin: left;
      @extend %animate;
      border-radius: 2px;
    }
    &:before{
      bottom: 7px;
    }
    &:after{
      top: 7px;
    } 
  }
}
.primary-nav{
  width: 100%;
  height: 100%;
  @media all and (min-width: 700px){
    display: flex;
    flex-direction: row;
  }
  &__item{
    list-style: none;
    &:not(:first-child){
      margin-top: 10px;
    }
    @media all and (min-width: 700px){
      margin-top: 0 !important;
    }
  }
  &__link{
    text-transform: uppercase;
    color: $white;
    padding: 5px;
    text-decoration: none;
    font: {
      weight: 500;
    };
    @media all and (min-width: 700px){
      color: $black;
    }
  }
}
#menu{
  position: absolute;
  width: 0;
  height: 0;
  background: transparent;
  color: transparent;
  font-size: 1px;
  border-color: transparent;
}
#menu:checked ~ .header__nav{
  right: 0;
}
#menu:checked ~ .menu{
  z-index: 99;
  &:before{
    color: $white;
  }
}
#menu:checked ~ .menu span{
  background: transparent;
  &:before, &::after{
    width: 100%;
    transform-origin: center;
    background: $white;
  }
  &:before{
    bottom: 0;
    transform: rotate(45deg);
  }
  &:after{
    top: 0;
    transform: rotate(-45deg);
  }
}