.team{
    &__title{
        width: 90%;
        display: block;
        margin: 50px auto 10px;
    }
    &__member{
        @media all and (min-width: 700px){
           width: 33.3333333%;
        }
        img{
            filter: grayscale(1);
            @media all and (min-width: 700px){
                &:hover{
                    filter: grayscale(0);
                    transition: all 400ms ease-in-out;
                    cursor: pointer;
                }
            }
        }
    }
}